@model Personalen
@{
    Layout = "_Layout";
}

<h1>Lägg till ny personal</h1>
<form asp-action="Create">
    @using (Html.BeginForm("Create", "Content", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            Namn: <input asp-for="Namn" />
        </div>
        <div>
            Roll: <input asp-for="Roll" />
        </div>
        <div>
            Telefon: <input asp-for="Telefon" />
        </div>
        <div>
            E-mail: <input asp-for="EMail" />
        </div>
        <div>
            Min Resa: <input asp-for="Min_Resa" />
        </div>
        <input asp-for="uploadedimage" accept="image/" />
        <div>
            <input type="submit" value="Spara" />
        </div>
    }
</form>